.about {
  text-align: left;
  font-size: 18px;
  width: 100%;
  max-width: 900px;
  line-height: 1.6em;

  @media @mobile {
    font-size: 15px;
  }
}

.credits {
  font-size: 15px;
  line-height: 1.5em;

  @media @mobile {
    font-size: 13px;
  }
}

.position {
  font-weight: bold;
  font-family: @df-block;
  text-transform: uppercase;
  // color: #AAA;
  letter-spacing: 0.1em;
}

.reporting {
  .display-flex();
  @media @mobile {
    display: inline-block;
  }
}

.larger-chunk {
  display: inline-block;

   @media @mobile {
    display: block;
  }
}

.credit-chunk {
  vertical-align: top;
  padding-right: 30px;
  display: inline-block;

  @media @tablet {
    display: block;
  }
}