.about {
  text-align: left;
  font-size: 18px;
  width: 100%;
  max-width: 900px;
  line-height: 1.6em;

  @media @mobile {
    font-size: 17px;
  }

  .subhed {
    letter-spacing: 0.1em;
  }

  a {
    color: @df-border-gray;
    transition: all 0.1s linear;

    &:hover {
      color: @df-light-gray;
    }
  }
}

.setup-imgs {
  padding-top: 15px;
  padding-bottom: 10px;
}

.setup {
  display: inline-block;
  width: 49%;

  @media @tablet {
    display: block;
    width: 100%;

    &:first-child {
      padding-bottom: 20px;
    }
  }
}

.credits {
  font-size: 15px;
  line-height: 1.5em;

  @media @mobile {
    font-size: 14px;
  }
}

.position {
  font-weight: bold;
  font-family: @df-block;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.reporting {
  .display-flex();
  .justify-content(space-between);
  .flex-wrap(wrap);
}

.reporting-credit {
  .flex(0 0 23%);
  margin-bottom: 15px;

  @media @tablet {
    .flex(0 0 32%);
  }
  @media @mobile {
    .flex(0 0 49%);
    margin-bottom: 20px;
  }

  &.filler {
    @media @mobile {
      display: none;
    }
  }
}

.reporting-name {
  padding-left: 4px;
}

.credit-img {
  // max-width: 200px;
}
