.bios {
  .subhed {
    text-align: left;
  }
}

.bios-container {
  .display-flex();
  .justify-content(space-between);
  .flex-wrap(wrap);
  padding-top: 20px;
}

.grid-container {
  .flex(0 0 32%);
  margin-bottom: 30px;
  text-align: left;

  @media @tablet {
    .flex(0 0 49%);
  }
  @media @mobile {
    margin-bottom: 20px;
  }

  &:hover {
    .bio-grid-img {
      opacity: 0.7;
    }
  }
}

img.bio-grid-img {
  width: 100%;
  cursor: pointer;
  transition: all 0.2s linear;
}

.bio-label {
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 0.1em;
  padding-left: 6px;

  @media @mobile {
    font-size: 11px;
    margin-top: -3px;
  }
}

.bio-video {
  display: none;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  .align-items(center);
  overflow: auto;
  background: rgba(0,0,0,0.6);
  transition: all 0.3s linear;
  z-index: 9;

  &.lightboxed {
    .display-flex();
  }

  &.faded {
    opacity: 1;
  }

  .aspect-outer {
    width: 100%;
    max-width: 1160px;
    padding: 20px;
    margin: auto;

    @media @mobile {
      padding: 10px;
    }

    .close-bio {
      cursor: pointer;
      position: absolute;
      color: white;
      right: 10px;
      top: 10px;
      z-index: 9;
      transition: all 0.2s linear;

      &:hover {
        color: @df-border-gray;
      }
    }
  }
}
