.bios {
  .subhed {
    text-align: left;
  }

  .playlist {
    padding: 10px 20px 20px 20px;
    background: black;

    @media @tablet {
      margin-top: 0;
      text-align: left;
    }
  }
  .playlist-tile {
    display: inline-block;

    .playlist-video {
      margin-left: 0;
      font-size: 12px;

      &:hover {
        color: white;
        background: @df-dark-gray;
        padding: 7px 16px 5px 16px;
      }

      @media @tablet {
        font-size: 10px;
        padding: 7px 16px 5px 16px;
      }
    }
  }
}

.bios-container {
  .display-flex();
  .justify-content(space-between);
  .flex-wrap(wrap);
  padding-top: 20px;
}

.bio-name {
  text-align: left;
  text-transform: uppercase;
  font-size: 14px;
  background: black;
  padding-top: 20px;
  padding-left: 20px;
}

.grid-container {
  .flex(0 0 32%);
  margin-bottom: 30px;
  text-align: left;

  @media @tablet {
    .flex(0 0 49%);
  }
  @media @mobile {
    margin-bottom: 20px;
  }

  &:hover {
    .bio-grid-img {
      opacity: 0.7;
    }
  }
}

img.bio-grid-img {
  width: 100%;
  cursor: pointer;
  transition: all 0.2s linear;
}

.bio-label {
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 0.1em;
  padding-left: 6px;

  @media @mobile {
    font-size: 11px;
    margin-top: -3px;
  }
}

.bio-video {
  display: none;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  .align-items(center);
  overflow: auto;
  background: rgba(0,0,0,0.6);
  transition: all 0.3s linear;
  z-index: 9;

  &.lightboxed {
    .display-flex();
  }

  &.faded {
    opacity: 1;

    .video-js {
      opacity: .01;
      transition: all .3s linear;
    }
    
    &.playing .video-js {
      opacity: 1;
    }

    &.playing .loading {
      opacity: 0;
    }
  }

  .aspect-outer {
    width: 100%;
    max-width: 1100px;
    padding: 20px;
    margin: auto;
    background: black;

    @media @mobile {
      padding: 10px;
    }

    .close-bio {
      cursor: pointer;
      position: absolute;
      color: white;
      right: 10px;
      top: 10px;
      z-index: 9;
      transition: all 0.2s linear;

      @media @mobile {
        padding: 3px;
      }

      &:hover {
        color: @df-border-gray;
      }
    }

    .loading {
      letter-spacing: 0.08em;
      position: absolute;
      opacity: 1;
      color: white;
      transition: all .3s linear;
      left: 50%;
      top: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      z-index: 9;
      font-size: 18px;
      text-transform: uppercase;
    }
  }
}
