.hed-container {
  .display-flex();
  .align-items(center);

  .left, .center, .right {
    .flex(1);
  }
  .left {
    text-align: left;
  }
  .right {
    text-align: right;
  }
  .buffer {
    width: 100px;
    // border: 1px solid red;
  }
  .inline {
    .grid-img {
      display: inline-block;
    }
  }
}

.teaser {
  padding-bottom: 20px;
  font-size: 24px;
}

