.hed-container {
  margin-top: 30px;
  .display-flex();
  .align-items(center);

  .left, .center, .right {
    .flex(1);
  }
  .left {
    text-align: left;
  }
  .right {
    text-align: right;
  }
  .buffer {
    width: 100px;
    // border: 1px solid red;
  }
  .inline {
    .grid-img {
      display: inline-block;
    }
  }
}

.intro {
  letter-spacing: 0.02em;
}

.intro .next-container {
  padding-top: 20px;

  .next {
    display: inline-block;
    font-size: 24px;

    &.fa {
      padding: 0 10px;
      font-size: 40px;
    }
  }
}


.intro {
  .nav {
    .tile.hed {
      display: none;
    }
  }
}


.teaser {
  padding-bottom: 20px;
  font-size: 24px;
}

.warning {
  font-style: italic;
  padding-top: 10px;
  font-size: 12px;
  color: #999;
}