iframe.intro-video {
  border: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.padded.aspect-outer {
  margin: auto;

  @media @tablet {
    width: 100%;
  }
}

.editors-note {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  font-size: 23px;
  margin-bottom: 80px;
  line-height: 1.8em;

  @media @mobile {
    font-size: 18px;
    margin: 0;
    margin-bottom: 80px;
  }
}