.video-container {
  .display-flex();
}

.aspect-outer {
  width: 100%;

  .aspect-inner {
    padding-bottom: percentage(9 / 16);
    height: 0;
    position: relative;
    margin-bottom: 20px;
  }

  .video-js {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}

.playlist {
  list-style: none;
  text-align: left;
  font-size: 16px;
  text-transform: uppercase;
  min-width: 240px;
  margin: 0;
  padding: 0;
  letter-spacing: .1em;
}
li.playlist-video {
  cursor: pointer;
  padding: 7px 16px 5px 16px;
  text-transform: uppercase;
  letter-spacing: .1em;
  color: black;
  background: #d9d9d9;
  margin-bottom: 8px;
  margin-left: 10px;
  display: inline-block;
  transition: all 0.3s linear;

  &.playing, &:hover {
    color: white;
    background: black;
    margin-left: 0;
    padding-left: 26px;
  }
}

.form-panel {
  font-size: 18px;
}

.message {
  display: none;
  margin-left: 4px;

  &.visible {
    display: inline-block;
  }

}

.reactions-container {
  text-align: left;
  margin-top: 40px;
  .display-flex();

  .reactions {
    .flex(3);
    padding: 20px;
    padding-top: 0;

    button {
      padding: 8px 14px;
      border: none;
      background: @df-dark-gray;
      font-size: 14px;
      font-weight: bold;
      margin-top: 15px;
      border-radius: 2px;
      color: white;
      opacity: 0.5;
      transition: all 0.3s linear;

      &.validated {
        opacity: 1;
        cursor: pointer;
        background: @df-charcoal;

        &:hover {
          background: black;
        }
      }
    }
    input, textarea {
      font-size: 14px;
      padding: 8px;
      border: none;
      margin-top: 15px;
      color: #666;
    }
    input {
      padding: 6px;
      font-size: 12px;
    }
    select {
      letter-spacing: 0.02em;
      color: #666;
      border: none;
      font-size: 11px;
      height: 24px;
      margin: 0 4px;
      margin-top: 15px;
    }
    .comment-box {
      position: relative;
      width: 100%;
      max-width: 600px;

      textarea {
        resize: none;
        width: 100%;
        padding-right: 30px;
      }
      .char-limit {
        position: absolute;
        color: #999;
        font-size: 12px;
        right: 7px;
        bottom: 10px;
      }
    }
    
    .age, .name {
      display: inline-block;

      input {
        margin-left: 6px;
      }
    }
    .age input {
      width: 50px;
    }
    .name {
      padding-right: 10px;
    }
  }
}

.comments-container {
  .display-flex();
  border-top: 1px solid @df-middle-gray;

  .guest-essays {
    .flex(1);
    padding: 20px;
    padding-left: 40px;
    font-size: 18px;
    text-align: left;
  }
}

.comments {
  text-align: left;
  font-size: 16px;
  .flex(3);

  .comment {
    display: none;
    padding: 20px;
    border-bottom: 1px solid @df-middle-gray;

    &.visible {
      display: block;
    }
    &.highlighted {
      font-size: 20px;
    }
  }
  .credit {
    font-style: italic;
    text-align: right;
    padding-top: 4px;
    font-size: 16px;
  }
}

.question {
  font-size: 20px;
  text-align: left;
  margin-bottom: 20px;
}

.bio-link {
  margin-top: 20px;
  font-size: 18px;

  .fa {
    display: inline-block;
  }
}