.video-container {
  .display-flex();
}

.aspect-outer {
  width: 100%;

  .aspect-inner {
    padding-bottom: percentage(9 / 16);
    height: 0;
    position: relative;
  }

  .video-js {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}

// .vjs-playlist {
//   height: 471px;
//   margin: 0;
//   background: @gray !important;

//   @media @tablet {
//     display: none;
//   }
// }

.playlist {
  list-style: none;
  text-align: left;
  font-size: 14px;
  text-transform: uppercase;
  min-width: 225px;
  font-family: @df-sans;
  margin: 0;
  padding: 0;
  letter-spacing: .1em;
}
li {
  cursor: pointer;
  padding: 10px 10px 6px 20px;
  position: relative;

  &.playing {
    background: @df-dark-gray !important;
  }
}

.form-panel {
  font-family: @df-sans;
  font-size: 18px;
}

.message {
  display: none;

  &.visible {
    display: inline-block;
  }

}

.reactions-container {
  text-align: left;
  padding: 20px;
  .display-flex();

  .reactions {
    .flex(3);
  }
  .guest-essays {
    .flex(1);
    font-family: @df-sans;
    font-size: 18px;
  }
}

.comments {
  text-align: left;
  font-size: 20px;

  .comment {
    display: none;
    padding: 20px;
    border-top: 1px solid @df-middle-gray;

    &.visible {
      display: block;
    }
  }
}

.title.tile, .bio-link {
  width: 49%;
  float: left;
}
.title.tile {
  font-size: 22px;
  font-weight: bold;
  margin-top: 10px;
}
.bio-link {
  font-family: @df-sans;
  margin-top: 20px;
  font-size: 18px;

  .fa {
    display: inline-block;
  }
}