.video-container {
  .display-flex();

  @media @tablet {
    display: block;
  }
}

.note {
  font-style: italic;
  font-size: 12px;
  padding-top: 20px;
  color: @df-off-white;

  &.second {
    padding-top: 5px;
    font-style: normal;
  }
}

.inner-flex {
  .display-flex();
  .align-items(center);
  width: 100%;
  background: black;
}

.aspect-outer {
  .flex(1);
  margin-top: -1px;

  .aspect-inner {
    padding-bottom: percentage(9 / 16);
    height: 0;
    position: relative;
  }

  .video-js {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}

.playlist {
  list-style: none;
  text-align: left;
  font-size: 16px;
  text-transform: uppercase;
  min-width: 240px;
  margin: 0;
  padding: 0;
  letter-spacing: .1em;

  @media @tablet {
    display: none;
  }
}
.playlist-tile {
  margin-bottom: 8px;

  &:last-child {
    margin-bottom: 0;
  }
}
.playlist-video {
  display: inline-block;
  cursor: pointer;
  padding: 7px 16px 5px 16px;
  text-transform: uppercase;
  letter-spacing: .1em;
  color: black;
  background: #d9d9d9;
  margin-left: 10px;
  display: inline-block;
  transition: all 0.3s linear;

  &.playing, &:hover {
    color: white;
    background: black;
    margin-left: 0;
    padding-left: 26px;
  }
}

.form-panel {
  font-size: 16px;

  @media @mobile {
    font-size: 14px;
  }
}

.message {
  display: none;
  margin-left: 4px;

  &.visible {
    display: inline-block;
  }

}

.reactions-container {
  text-align: left;
  margin-bottom: 20px;
  .display-flex();

  .reactions {
    .flex(3);
    padding: 20px;
    padding-top: 0;

    @media @mobile {
      padding: 0;
    }

    button {
      padding: 8px 14px;
      border: none;
      background: @df-dark-gray;
      font-size: 14px;
      font-weight: bold;
      margin-top: 15px;
      border-radius: 2px;
      color: white;
      opacity: 0.5;
      transition: all 0.3s linear;

      &.validated {
        opacity: 1;
        cursor: pointer;
        background: @df-charcoal;

        &:hover {
          background: black;
        }
      }
    }
    input, textarea {
      font-size: 14px;
      padding: 8px;
      border: none;
      margin-top: 10px;
      color: #666;
      border-radius: 2px;
    }
    input {
      padding: 6px;
      font-size: 12px;
    }
    select {
      letter-spacing: 0.02em;
      color: #666;
      border: none;
      font-size: 11px;
      height: 20px;
      margin: 0 4px;
      margin-top: 15px;
      margin-bottom: 5px;

      &.hidden {
        display: none;
      }

      @media @mobile {
        height: 21px;
      }
    }
    .comment-box {
      position: relative;
      width: 100%;
      max-width: 600px;

      textarea {
        resize: none;
        width: 100%;
        padding-right: 30px;
      }
      .char-limit {
        position: absolute;
        color: #999;
        font-weight: 400;
        letter-spacing: 0.01em;
        font-size: 12px;
        right: 7px;
        bottom: 10px;
      }
    }
    
    .age, .name, .email, .adjective {
      display: inline-block;

      input {
        margin-left: 3px;
        height: 20px;

        @media @mobile {
          height: 21px;
        }
      }
    }
    .adjective {
      input {
        display: none;
        margin-right: 6px;

        &.visible {
          display: inline-block;
        }
      }

      @media @mobile {
        width: 110px;
      }
    }
    .age input {
      width: 50px;
    }
    .name {
      padding-right: 20px;
    }
    .email input {
      width: 200px;
    }
  }
}

.comments-container {
  .display-flex();
  border-top: 1px solid @df-middle-gray;

  @media @tablet {
    display: block;
  }

  .guest-essays {
    .flex(1);
    padding: 20px;
    padding-left: 40px;
    font-size: 18px;
    text-align: left;

    @media @tablet {
      padding-left: 0;
    }

    @media @mobile {
      padding: 20px 0;
      font-size: 16px;
    }
  }
  .expand {
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
    padding-top: 10px;
    cursor: pointer;
    transition: all 0.2s linear;

    &:hover {
      color: @df-border-gray;
    }

    .hidden {
      display: none;
    }
  }
}

.comments {
  text-align: left;
  font-size: 15px;
  .flex(3);

  .comment {
    letter-spacing: 0.08em;
    display: none;
    padding: 20px;
    border-bottom: 1px solid @df-middle-gray;

    @media @mobile {
      padding: 20px 0;
    }

    &.visible {
      &.highlighted, &.more {
        display: block;
      }

      @media @mobile {
        font-size: 13px;
      }
    }
  }
  .credit {
    font-style: italic;
    text-align: right;
    padding-top: 4px;
    font-size: 14px;
  }
}

.question {
  font-size: 20px;
  text-align: left;
  margin-bottom: 20px;

  @media @mobile {
    font-size: 14px;
  }

  .question-title {
    font-size: 26px;
    padding: 0 4px;
    font-weight: 400;

    @media @mobile {
      font-size: 20px;
    }
  }
}

.bio-link {
  margin-top: 20px;
  font-size: 18px;

  .fa {
    display: inline-block;
  }
}