@import "seattletimes";
@import "intro";
@import "note";
@import "grid";
@import "playlist";

@gray: #525252;

body {
  background: @gray;
  color: white;
  text-align: center;
  font-size: 28px;

  @media @mobile {
    font-size: 20px;
  }
}

.fa {
  display: block;
}

.tiny {
  font-family: @df-sans;
  font-size: 14px;
  padding-top: 4px;
}

.flex-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  .display-flex();
  .align-items(center);
  display: none;
  overflow: auto;
  transition: opacity 1s linear;
}

section {
  margin: auto;
  padding: 20px;
  max-width: 1200px;

  &.intro {
    max-width: 1400px;
  }

  &.video {
    width: 100%;
  }

  @media @mobile {
    display: block;
    opacity: 1;
    position: relative;
  }
}

.next {
  cursor: pointer;
  
  &.fa {
    font-size: 36px;
    padding-top: 20px;
  }

  @media @mobile {
    display: none;
  }
}

.tile {
  font-family: @df-sans;
  text-transform: uppercase;
  letter-spacing: .2em;
  display: inline-block;
  margin: auto;
  padding: 15px 25px 10px 25px;
  color: black;
  background: #d9d9d9;
  margin: 5px;

  &.hed {
    color: white;
    background: black;
    font-weight: bold;
  }

  &.word {
    cursor: pointer;
    transition: all 0.3s linear;

    &:hover {
      color: white;
      background: black;
    }
  }
}

.editors-note {
  font-size: 20px;
  text-align: left;

  @media @mobile {
    font-size: 16px;
  }

  .read-more {
    cursor: pointer;
    font-size: 16px;
    font-family: @df-sans;
    text-transform: uppercase;

    &.hide {
      display: none;
    }
  }

  .more {
    display: none;
    opacity: 0;
    transition: all 0.5s linear;
  }
}

.shown {
  display: block !important;
  opacity: 0;

  .flex-container& {
    .display-flex() !important;
  }

  &.fade {
    opacity: 1;
  }
}