@import "seattletimes";
@import "intro";
@import "note";
@import "bios";
@import "about";
@import "playlist";
@import "recirc";

@gray: #4A5E66;

@keyframes fade {
  from {
    opacity: 0;
  }
  
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  
  to {
    opacity: 1;
  }
}

.vjs-control-bar.header-bar-container {
  display: none !important;
}

body {
  background: @gray;
  color: white;
  text-align: center;
  font-size: 28px;
  font-family: @df-block;
  letter-spacing: 0.02em;

  @media @mobile {
    font-size: 20px;
  }
}

.sans {
  font-family: @df-sans;
  font-weight: 200;
  letter-spacing: 0.06em;
}

.subhed {
  font-family: @df-block;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 0.2em;
  font-weight: bold;

  @media @mobile {
    letter-spacing: 0.1em;
    font-size: 14px;
  }

  &.larger {
    font-size: 26px;
    letter-spacing: 0.1em;
    padding-bottom: 10px;

    @media @mobile {
      font-size: 20px;
    }
  }
}

.divider {
  border-top: 1px solid @df-middle-gray;
  max-width: 1200px;
  margin: auto;
  width: 90%;
}

.scroll-note {
  display: none;
  padding-top: 20px;

  @media @tablet {
    display: block;
  }
}

.share {
  display: inline-block !important;
  float: right;
  margin-right: 15px;

  @media @tablet {
    display: none !important;
  }

  label {
    background: @df-charcoal !important;
    color: white !important;

    span {
      font-size: 0.8em !important;
      font-family: @df-block !important;
      letter-spacing: 0.1em;
      font-size: 15px !important;
    }
  }
}
.share.bottom {
  margin-top: -5px !important;

  @media @tablet {
    display: inline-block !important;
    width: 37px !important;
    margin-top: 0 !important;
    margin-right: 0 !important;

    .social.networks-5.left {
      margin-left: -272px !important;
    }
  }

  label {
    background: #333 !important;
    color: white !important;

    span {
      font-size: 0.8em !important;
      font-family: @df-block !important;
      letter-spacing: 0.1em;
      font-size: 15px !important;

      @media @tablet {
        display: none !important;
      }

    }
  }
}

.nav {
  position: fixed;
  top: 0;
  text-align: left;
  background: @df-charcoal;
  width: 100%;
  z-index: 9;

  .nav-container {
    border-left: 1px solid @df-dark-gray;
    padding: 5px 24px;
    position: relative;
    float: right;
    margin-top: 4px;
    cursor: pointer;

    @media @mobile {
      padding: 5px 15px;
    }

    &:hover {
      .nav-list {
        display: block;
        -webkit-animation: fade 0.2s linear;
        animation: fade 0.2s linear;
      }
    }
  }

  .inner-nav {
    margin: auto;
    max-width: 1200px;

    ul.nav-list {
      display: none;
      position: absolute;
      right: 0;
      list-style: none;
      padding: 0;
      margin: 0;
      top: 32px;
      padding-top: 12px;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 14px;
      width: 100%;

      @media @mobile {
        font-size: 11px;
        top: 26px;
      }

      li.nav-item {
        background: @df-charcoal;
        padding: 15px 24px 12px 24px;
        cursor: pointer;
        transition: background 0.2s linear;

        &:hover {
          background: @df-dark-gray;
        }

        &:first-child {
          border-top: 1px solid @df-dark-gray;
        }
      }
    }
  }

  .nav-bars {
    float: right;
    transition: color .2s linear;

    @media @mobile {
      font-size: 25px;
    }
  }
  .nav-label {
    float: right;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 0.2em;
    font-weight: bold;
    padding-right: 15px;
    padding-top: 5px;
    transition: all 0.1s linear;

    &:hover {
      color: @df-border-gray;
    }

    @media @mobile {
      font-size: 12px;
      padding-right: 10px;
    }
  }
  .logo {
    height: 25px;
    margin-top: 12px;
    margin-left: 10px;

    @media @mobile {
      height: 16px;
      margin-top: 14px;
      margin-bottom: 4px;

    }
  }
}



.jump a {
  color: white;
}

.scroll-aware {
  transition: opacity 0.5s linear;
  margin-top: 200px;
  margin-bottom: 200px;
  opacity: 0;

  &#intro {
    margin-top: 0;
  }

  &.visible {
    opacity: 1;
  }

  &#about {
    margin-bottom: 0;
  }
}

.intro .main-text {
  padding-top: 0;
}

section {
  margin: auto;
  padding: 40px;
  max-width: 1200px;

  &.intro {
    max-width: 100%;
    padding: 0;
  }

  &.video {
    width: 100%;
  }

  @media @mobile {
    display: block;
    opacity: 1;
    position: relative;
    padding: 10px;
    padding-right: 20px;
  }
}

.tile {
  text-transform: uppercase;
  letter-spacing: .1em;
  display: inline-block;
  margin: auto;
  padding: 15px 25px 10px 25px;
  color: black;
  background: #d9d9d9;
  margin: 5px;

  @media @mobile {
    font-size: 15px;
    padding: 9px 14px 6px 14px;
  }

  &.hed {
    font-weight: bold;
    font-size: 28px;

    @media @mobile {
      font-size: 22px;
      padding: 15px 25px 10px 25px;
    }
  }

  &.word {
    cursor: pointer;
    transition: all 0.3s linear;

    &:hover {
      color: white;
      background: black;
    }
  }
}

.words {
  .word.tile {
    margin: 8px 4px;

    @media @mobile {
      margin: 4px 0;
    }
  }
}

.shown {
  display: block !important;
  opacity: 0;

  &.fade {
    opacity: 1;
  }
}

.dots {
  position: fixed;
  bottom: 45%;
  right: 0;
  z-index: 8;
  padding: 0;
  margin: 0;
  color: fade(white, 80%);
  font-size: 28px;
  line-height: .75;

  &.hidden {
    display: none;
  }

  @media @tablet {
    display: none;
  }

  .arrow {
    display: block;
    font-size: 20px;
    cursor: pointer;
    text-align: right;
    margin-right: 8px;
    transition: all 0.1s linear;

    &:hover {
      color: @df-border-gray;
    }

    @media @tablet {
      display: none;
    }
  }

  ul {
    margin: 0;
  }

  .dot {
    &.active {
      color: @df-charcoal;
    }
  }
}