@import "seattletimes";
@import "intro";
@import "note";
@import "bios";
@import "about";
@import "playlist";
@import "recirc";

@gray: #4A5E66;

@keyframes fade {
  from {
    opacity: 0;
  }
  
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  
  to {
    opacity: 1;
  }
}

.vjs-control-bar.header-bar-container {
  display: none !important;
}

body {
  background: @gray;
  color: white;
  text-align: center;
  font-size: 28px;
  font-family: @df-block;
  letter-spacing: 0.02em;

  @media @mobile {
    font-size: 20px;
  }
}

.sans {
  font-family: @df-sans;
  font-weight: 200;
  letter-spacing: 0.08em;
}

.subhed {
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 0.2em;
  font-weight: bold;

  &.larger {
    font-size: 26px;
    letter-spacing: 0.15em;
    padding-bottom: 10px;
  }
}

.nav {
  position: fixed;
  top: 0;
  text-align: left;
  background: @df-charcoal;
  width: 100%;
  z-index: 9;

  .nav-container {
    padding: 5px 24px;
    position: relative;
    float: right;
    margin-top: 4px;
    cursor: pointer;

    &:hover {
      .nav-list {
        display: block;
        -webkit-animation: fade 0.2s linear;
        animation: fade 0.2s linear;
      }
    }
  }

  .inner-nav {
    margin: auto;
    max-width: 1200px;

    ul.nav-list {
      display: none;
      position: absolute;
      right: 0;
      list-style: none;
      padding: 0;
      margin: 0;
      top: 32px;
      padding-top: 12px;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 14px;
      width: 100%;

      @media @mobile {
        top: 22px;
      }

      li.nav-item {
        background: @df-charcoal;
        padding: 15px 24px 12px 24px;
        cursor: pointer;
        transition: background 0.2s linear;

        &:hover {
          background: @df-dark-gray;
        }

        &:first-child {
          border-top: 1px solid @df-dark-gray;
        }
      }
    }
  }

  .nav-bars {
    float: right;
    transition: color .2s linear;

    @media @mobile {
      padding-top: 3px;
    }
  }
  .nav-label {
    float: right;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 0.2em;
    font-weight: bold;
    padding-right: 15px;
    padding-top: 5px;
    transition: all 0.1s linear;

    &:hover {
      color: @df-border-gray;
    }

    @media @mobile {
      padding-top: 3px;
    }
  }
  .logo {
    height: 25px;
    margin-top: 12px;
    margin-left: 10px;

    @media @mobile {
      height: 18px;
      margin-top: 14px;
      margin-bottom: 4px;

    }
  }
}

.fa {
  display: block;
}
.fa-chevron-down {
  margin-top: 50px;
  transition: all 0.2s linear;
  display: inline-block;

  &:hover {
    color: @df-border-gray;
  }
}
.jump a {
  color: white;
}

.scroll-aware {
  transition: opacity 0.5s linear;
  margin-bottom: 300px;
  opacity: 0;

  &.visible {
    opacity: 1;
  }

  &#about {
    margin-bottom: 0;
  }
}

section {
  margin: 20px auto;
  padding: 20px;
  max-width: 1200px;

  &.intro {
    max-width: 1400px;
    padding: 0;
  }

  &.video {
    width: 100%;
  }

  @media @mobile {
    display: block;
    opacity: 1;
    position: relative;
  }
}

.tile {
  text-transform: uppercase;
  letter-spacing: .1em;
  display: inline-block;
  margin: auto;
  padding: 15px 25px 10px 25px;
  color: black;
  background: #d9d9d9;
  margin: 5px;

  @media @mobile {
    padding: 10px 20px 8px 20px;
  }

  &.hed {
    color: white;
    background: black;
    font-weight: bold;
  }

  &.word {
    cursor: pointer;
    transition: all 0.3s linear;

    &:hover {
      color: white;
      background: black;
    }
  }
}

.words {
  .word.tile {
    margin: 8px;

    @media @mobile {
      margin: 4px;
    }
  }
}

.shown {
  display: block !important;
  opacity: 0;

  &.fade {
    opacity: 1;
  }
}