<div class="bio-video">
  <div class="aspect-outer">
    <div class="aspect-inner">
      <i class="close-bio  fa fa-times" aria-hidden="true"></i>
      <video
        data-account="1509317113"
        data-player="B15NOtCZ"
        data-embed="default"
        id="bio-player"
        class="video-js" controls>
      </video>
    </div>
  </div>
</div>

<div class="larger subhed">Meet the participants</div>

<div class="bios-container">
  <% json.UOSData_Bios.forEach(function(bio) { %>
    <div class="grid-container">
      <img data-id="<%=bio.id%>" class="bio-grid-img" src="./assets/<%=bio.first_name%>_still.jpg">
      <div class="bio-label"><%=bio.first_name%> <%=bio.last_name%></div>
    </div>
  <% }); %>
</div>

<div class="jump">
  <a href="#about">
    <i class="fa fa-chevron-down" aria-hidden="true"></i>
  </a>
</div>
