<div class="subhed question">What does <span class="question-title">white privilege</span> mean to you?</div>

<div class="video-container">
  <div class="aspect-outer pending">
    <div class="aspect-inner">
      <video
        data-account="1509317113"
        data-player="B15NOtCZ"
        data-embed="default"
        id="player"
        class="video-js" controls>
      </video>
    </div>
  </div>

  <div>
    <ul class="playlist">
      <% json.UOSData_Videos.forEach(function(video) { %>
        <div>
          <li class="playlist-video <%= video.class %>" data-id="<%= video.id %>" data-term="<%= video.term %>"> <%= video.word %></li>
        </div>
      <% }); %>
    </ul>
    <div class="jump">
      <a href="#bios">
        <div class="sans bio-link">Meet the participants</div>
      </a>
    </div>
  </div>
</div>

<div class="reactions-container">
  <div class="reactions">
    <div class="subhed">What do you think?</div>

    <div class="sans form-panel">

      <form>

        This video
        <span class="adjective">
          <select name="adjective">
            <option value="choose" selected="selected" disabled="disabled">CHOOSE</option>
            <option value="surprised">surprised</option>
            <option value="interested">interested</option>
            <option value="inspired">inspired</option>
            <option value="resonated">resonated with</option>
            <option value="confused">confused</option>
            <option value="frustrated">frustrated</option>
            <option value="saddened">saddened</option>
            <option value="angered">angered</option>
            <option value="other">(write your own)</option>
            <input maxlength="100" name="adjective" placeholder="" required>
          </select> 
        </span>*
        
        me because:
        <div class="comment-box">
          <textarea rows="3" maxlength="500" name="comment" placeholder="" required></textarea>
          <div class="char-limit">500</div>
        </div>

        <div>
          <div class="name">Your name* <input maxlength="100"name="name" placeholder="" required></div>
          <div class="age">Your age* <input maxlength="3"name="age" placeholder="" required></div>
        </div>
        <div>
          <div class="email">Your email* <input maxlength="100" name="email" placeholder="" required></div>
        </div>
      </form>

      <div class="note">
        *Required field. Your email address will not be displayed publicly and will only be used if we need to contact you.
      </div>

      <div class="note">
        Seattle Times staff will select thoughtful responses for each video to be featured below.
      </div>

      <button class="submit">SUBMIT</button>

      <div class="message sending"><i class="fa fa-spinner fa-pulse fa-fw" aria-hidden="true"></i></div>
      <div class="message success"><i class="fa fa-check" aria-hidden="true"></i></div>

    </div>
  </div>
</div>

<div class="sans comments-container">
  <div class="comments">
    <% json.UOSData_Comments.forEach(function(comment) {
    if (comment.highlighted) { %>
      <div class="comment highlighted" data-term="<%= comment.term %>">
        I was <%= comment.adjective %> because <%= comment.comment %>.
        <div class="credit">&ndash; <%= comment.name %>, <%= comment.age %></div>
      </div>
    <% }
    }); %>
    <% json.UOSData_Comments.forEach(function(comment) {
    if (comment.approved && !comment.highlighted) { %>
      <div class="comment" data-term="<%= comment.term %>">
        I was <%= comment.adjective %> because <%= comment.comment %>.
        <div class="credit">&ndash; <%= comment.name %>, <%= comment.age %></div>
      </div>
    <% }
    }); %>
  </div>

  <div class="sans guest-essays">
    Guest essays link to WordPress stories<br>
    Guest essays link to WordPress stories<br> 
    Guest essays link to WordPress stories

    <br><br>Do you have reactions to this project that you'd like to share? Email ___@seattletimes.com to submit a guest essay.
  </div>

  <div class="submit-guest-essay">
    
  </div>

</div>

<div class="jump">
  <a href="#bios">
    <i class="fa fa-chevron-down" aria-hidden="true"></i>
  </a>
</div>
