<div class="video-container">
  <div class="aspect-outer pending">
    <div class="aspect-inner">
      <video
        data-account="1509317113"
        data-player="B15NOtCZ"
        data-embed="default"
        data-playlist-id="4884471259001"
        id="player"
        class="video-js" controls>
      </video>
    </div>
    <div class="title tile"></div>
    <div class="bio-link next" data-index="4"> <i class="fa fa-user" aria-hidden="true"></i> Meet the participants</div>
  </div>
  <!-- <ol class="vjs-playlist"></ol> -->
  <ul class="playlist">
    <% json.UOSData_Videos.forEach(function(video) { %>
      <div>
        <li class="playlist-video" data-id="<%= video.video_id %>" data-term="<%= video.term %>"> <%= video.word %></li>
      </div>
    <% }); %>
  </ul>
</div>

<div class="reactions-container">
  <div class="reactions">
    Reactions?

    <div class="form-panel">

      <form>
        <div>Name: <input name="name" placeholder="" required></div>
        <div>Age: <input name="age" placeholder="" required></div>

        This 
        <select name="adjective">
          <option value="interested">interested</option>
          <option value="saddened">saddened</option>
          <option value="angered">angered</option>
          <option value="confused">confused</option>
        </select> 
        me because:
        <div><input  maxlength="500" class="comment-box" name="comment" placeholder="" required></div>
      </form>

      <button class="submit">SUBMIT</button>

      <div class="message sending"><i class="fa fa-spinner fa-pulse fa-fw" aria-hidden="true"></i></div>
      <div class="message success"><i class="fa fa-check" aria-hidden="true"></i></div>

    </div>

    <div class="comments">
      <% json.UOSData_Comments.forEach(function(comment) {
      if (comment.approved) { %>
        <div class="comment" data-term="<%= comment.term %>">
          I was <%= comment.adjective %> because <%= comment.comment %>. &ndash; <em><%= comment.name %>, <%= comment.age %></em>
        </div>
      <% }
      }); %>
    </div>
  </div>

  <div class="guest-essays">Guest essays link to WordPress stories<br>
  Guest essays link to WordPress stories<br> 
  Guest essays link to WordPress stories</div>


</div>


<!-- load in all comments, auto hidden -->