<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_head.html") %>
  </head>
  <body>

<!-- Intro -->
    <div class="flex-container" data-index="0">
      <section class="intro">
        <%= t.include("./_nav.html") %>
        <div>
          <%= t.include("./_intro.html") %>
        </div>
      </section>
    </div>

<!-- Editor's note -->
    <div class="flex-container" data-index="1">
      <section>
        <%= t.include("./_nav.html") %>
        <div>
          <%= t.include("./_note.html") %>
        </div>
      </section>
    </div>

<!-- Words -->
    <div class="flex-container" data-index="2">
      <section>
        <%= t.include("./_nav.html") %>
        <div>
          <%= t.include("./_words.html") %>
        </div>
      </section>
    </div>

<!-- Playlist -->
    <div class="shown fade flex-container" data-index="3">
      <section class="video">
        <%= t.include("./_nav.html") %>
        <div>
          <%= t.include("./_playlist.html") %>
          <i data-index="4" class="next fa fa-chevron-circle-down" aria-hidden="true"></i>
        </div>
      </section>
    </div>

<!-- Bios -->
    <div class="flex-container" data-index="4">
      <section>
        <%= t.include("./_nav.html") %>
        <div>
          <%= t.include("./_bios.html") %>
        </div>
      </section>
    </div>

    <script>
      window.playlistItems = <%= JSON.stringify(json.UOSData_Videos) %>;
    </script>
    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
