<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_head.html") %>
  </head>
  <body>
    
    <%= t.include("./_nav.html") %>

  <div class="dots hidden">
    <i class="up arrow fa fa-chevron-up" aria-hidden="true"></i>
    <ul>
      <li class="dot" data-index="1">
      <li class="dot" data-index="2">
      <li class="dot" data-index="3">
      <li class="dot" data-index="4">
      <li class="dot" data-index="5">
    </ul>
    <i class="down arrow fa fa-chevron-down" aria-hidden="true"></i>
  </div>

<!-- Intro -->
    <div id="intro" class="visible scroll-aware">
      <section class="intro">
        <div class="main-text">
          <%= t.include("./_intro.html") %>
        </div>
      </section>
    </div>

<!-- Editor's note -->
    <div data-index="1" id="note" class="scroll-aware">
      <section>
        <div class="main-text">
          <%= t.include("./_note.html") %>
        </div>
      </section>
    </div>

    <div class="divider"></div>

<!-- Words -->
    <div data-index="2" id="words" class="scroll-aware">
      <section class="words">
        <div class="main-text">
          <%= t.include("./_words.html") %>
        </div>
      </section>
    </div>

    <div class="divider"></div>

<!-- Playlist -->
    <div data-index="3" id="playlist" class="scroll-aware">
      <section class="video">
        <div class="main-text">
          <%= t.include("./_playlist.html") %>
        </div>
      </section>
    </div>

    <div class="divider"></div>

<!-- Bios -->
    <div data-index="4" id="bios" class="scroll-aware">
      <section class="bios">
        <div class="main-text">
          <%= t.include("./_bios.html") %>
        </div>
      </section>
    </div>

    <div class="divider"></div>

<!-- About -->
    <div data-index="5" id="about" class="scroll-aware">
      <section class="about">
        <div class="main-text">
          <%= t.include("./_about.html") %>
        </div>
      </section>
    </div>

    <%= t.include("./_recirc.html") %>
    <%= t.include("./partials/_navBottom.html") %>

    <script>
      window.playlistItems = <%= JSON.stringify(json.UOSData_Videos) %>;
      window.bioData = <%= JSON.stringify(json.UOSData_Bios) %>;
    </script>
    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
